body {
    background-image: url("./wallpaper\ sign\ up.jpg");
background-size: contain;
background-size: cover;
background-repeat: no-repeat;
font-family: sans-serif;
display: flex;
justify-content: center;
align-items: center;
}
.signupcontain {
    background-color: aliceblue;
    height: 600px;
    width: 450px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    flex-direction: column;

}
.company {
    display: flex;
  flex-direction: row;
  justify-content: first baseline;
  flex-wrap: nowrap;
}
.imgperson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin-bottom: 10px;
    border-radius: 30px;

}
.email {
   margin-bottom: 20px;
}
.password {
    margin-bottom: 20px;
}
.verification {
    margin-bottom: 20px;
}